.cardbdy{
    cursor: pointer;
}
.dashboardcard{
    margin-top:10%;
}
.dashcard:hover{
    transition: 1.1s ease-in-out;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.dashcard:not(:hover){
    transition: 1.2s ease-in-out;
    box-shadow: 0px;
}
.ffont:hover{
    color: blue;
}
.div-container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
    width:100%;
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    transition: 1s;
    flex-direction: row;
    margin-left: 0%;
    cursor: pointer;
}
.div-container-1:hover{   
    box-shadow: 1px 0px 7px rgba(0,0,0, .2);
}


@media screen and (max-width: 600px) {
    .div-container-1{
        flex-direction: row;
        height:100px;
        width:75%;
        margin-left: 10%;
        
    }
    .dashboardcard{
        margin-top: 0%;
    }
  }
  

